<div class="container-fluid d-flex" style="height: 100vh;">
  <app-side-bar></app-side-bar>
  <div class="d-flex flex-column flex-grow-1">
    <div class="row flex-grow-1">
      <div class="d-flex flex-column align-items-center" style="width: 100%; padding: 1rem;">
        <img [src]="userImageUrl" alt="Avatar" style="width: 300px; height: 300px; border-radius: 50%; margin-bottom: 0.5rem;">
        <p>{{ currentname }}</p>
        <hr>
        <div class="d-flex align-items-center w-25 mb-3">
          <input [(ngModel)]="newName" type="text" class="form-control" placeholder="Edit name">
          <button (click)="submit()" class="btn btn-primary ms-2">Upload</button>
        </div>
        <hr>
        <div class="d-flex align-items-center w-25">
          
          <input [(ngModel)]="tempImageUrl"
                 type="text"
                 class="form-control"
                 placeholder="URL to img">
          <button (click)="updateImageUrl()" class="btn btn-secondary ms-2">Upload</button>
        </div>

        <div class="d-flex align-items-center p-5">
          <button (click)="submitOnDelete()" class="btn btn-danger ms-2">Delete account</button>
        </div>
      </div>
    </div>
  </div>
</div>
